Schema.xsd

<?xml version = "1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Elements" type="ElementType" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ElementType">
        <xs:sequence>
            <xs:element name = "field-1"/>
            <xs:element name = "field-2"/>
            <xs:element name = "field-3"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>